.footer{
    width: 100%;
    
    background-color: $color-primary-dark;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 10vw;
   
    .footer--item{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        height: auto;
        justify-content: space-between;
        
    
    .footer--logo{
        cursor: $cursor-pointer;
        
        width: 10%;
        height: auto;
        &--svg{
            max-width:3.3rem;
            max-height: 8.4rem;
            
        }
    }
    .footer--text{
        text-align: center;
        font-size: 1rem;
    }
    .footer--icon{
        color: #ffffff;
        font-size: 2rem;
        margin-left: .4rem;
        &--linkedin{
            color: rgb(10,102,194);
        }
        &--github{
            color: lighten(rgb(36,41,46), 50%)
        }
    }
  }
}
@media only screen and (min-width:$bp-small-ipad){
    .footer{
        .footer--item{
            .footer--logo{
                width: 5%;
            }
            .footer--text{
                font-size: 1.5rem
            }
            .footer--icon{
                font-size: 4rem;
                margin-left: 2rem;
            }
        }
    }
}
@media only screen and (min-width: $bp-main-desktop) {
    .contentSection{
        padding: 3rem 14.2rem;
    }
}